.side
  .side__header
    .side__header__box
      .side__header__box__name 
        masa
      .side__header__box__icons
        = link_to "#", class: "side__header__box__icon__btn-edit" do
          %i.far.fa-edit 
          %span<>
        = link_to "#", class: "side__header__box__icon__btn-cog" do
          %i.fa.fa-cog
          %span<>
  .side__groups
    .side__groups__list
      .side__groups__list__name
        techcamp
      .side__groups__list__message
        まだメッセージがありません
      .side__groups__list__name
        camp
      .side__groups__list__message
        まだメッセージがありません     